body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
}

.navbar {
    background: #1e293b;
    padding: 15px;
}

.navbar a {
    color: cyan;
    margin: 10px;
    text-decoration: none;
}

.container {
    margin-top: 40px;
}

input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    background: cyan;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.status-card {
    background: #1e293b;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}